# cat /var/www/dashboard/current/.env
export SRC_BUCKET_NAME=
export SRC_PREFIX=datagov/dashboard/
export SRC_REGION=us-east-1

# cf service-key dashboard-s3 fcs-migration
export DEST_BUCKET_NAME=
export DEST_ACCESS_KEY_ID=
export DEST_SECRET_ACCESS_KEY=
export DEST_REGION=us-gov-west-1
